<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.something.kumaranurag.ggsipusyllabus">
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IPU Syllabus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Sem_Layout_PDF_2"></activity>
        <activity android:name=".Sem_Layout_PDF_3"></activity>
        <activity android:name=".Sem_Layout_PDF_4"></activity>
        <activity android:name=".Sem_Layout_PDF_5"></activity>
        <activity android:name=".Sem_Layout_PDF_6"></activity>
        <activity android:name=".Sem_Layout_PDF_7"></activity>
        <activity android:name=".Sem_Layout_PDF_8"></activity>
        <activity android:name=".Sem_Layout_PDF_9"></activity>
        <activity android:name=".Sem_Layout_PDF_10"></activity>
        <activity android:name=".Sem_Layout_PDF_11"></activity>
        <activity android:name=".Sem_Layout_PDF_12"></activity>
        <activity android:name=".Sem_Layout_PDF_13"></activity>
        <activity android:name=".Sem_Layout_PDF_14"></activity>
        <activity android:name=".PDF_1"></activity>
        <activity android:name=".PDF_2_1"></activity>
        <activity android:name=".PDF_2_2"></activity>
        <activity android:name=".PDF_2_3"></activity>
        <activity android:name=".PDF_2_4"></activity>
        <activity android:name=".PDF_2_5"></activity>
        <activity android:name=".PDF_2_6"></activity>
        <activity android:name=".PDF_2_7"></activity>
        <activity android:name=".PDF_2_8"></activity>
        <activity android:name=".PDF_3_1"></activity>
        <activity android:name=".PDF_3_2"></activity>
        <activity android:name=".PDF_3_3"></activity>
        <activity android:name=".PDF_3_4"></activity>
        <activity android:name=".PDF_3_5"></activity>
        <activity android:name=".PDF_3_6"></activity>
        <activity android:name=".PDF_3_7"></activity>
        <activity android:name=".PDF_3_8"></activity>
        <activity android:name=".PDF_4_1"></activity>
        <activity android:name=".PDF_4_2"></activity>
        <activity android:name=".PDF_4_3"></activity>
        <activity android:name=".PDF_4_4"></activity>
        <activity android:name=".PDF_4_5"></activity>
        <activity android:name=".PDF_4_6"></activity>
        <activity android:name=".PDF_4_7"></activity>
        <activity android:name=".PDF_4_8"></activity>
        <activity android:name=".PDF_5_1"></activity>
        <activity android:name=".PDF_5_2"></activity>
        <activity android:name=".PDF_5_3"></activity>
        <activity android:name=".PDF_5_4"></activity>
        <activity android:name=".PDF_5_5"></activity>
        <activity android:name=".PDF_5_6"></activity>
        <activity android:name=".PDF_5_7"></activity>
        <activity android:name=".PDF_5_8"></activity>
        <activity android:name=".PDF_6_1"></activity>
        <activity android:name=".PDF_6_2"></activity>
        <activity android:name=".PDF_6_3"></activity>
        <activity android:name=".PDF_6_4"></activity>
        <activity android:name=".PDF_6_5"></activity>
        <activity android:name=".PDF_6_6"></activity>
        <activity android:name=".PDF_6_7"></activity>
        <activity android:name=".PDF_6_8"></activity>
        <activity android:name=".PDF_7_1"></activity>
        <activity android:name=".PDF_7_2"></activity>
        <activity android:name=".PDF_7_3"></activity>
        <activity android:name=".PDF_7_4"></activity>
        <activity android:name=".PDF_7_5"></activity>
        <activity android:name=".PDF_7_6"></activity>
        <activity android:name=".PDF_7_7"></activity>
        <activity android:name=".PDF_7_8"></activity>
        <activity android:name=".PDF_8_1"></activity>
        <activity android:name=".PDF_8_2"></activity>
        <activity android:name=".PDF_8_3"></activity>
        <activity android:name=".PDF_8_4"></activity>
        <activity android:name=".PDF_8_5"></activity>
        <activity android:name=".PDF_8_6"></activity>
        <activity android:name=".PDF_8_7"></activity>
        <activity android:name=".PDF_8_8"></activity>
        <activity android:name=".PDF_9_1"></activity>
        <activity android:name=".PDF_9_2"></activity>
        <activity android:name=".PDF_9_3"></activity>
        <activity android:name=".PDF_9_4"></activity>
        <activity android:name=".PDF_9_5"></activity>
        <activity android:name=".PDF_9_6"></activity>
        <activity android:name=".PDF_9_7"></activity>
        <activity android:name=".PDF_9_8"></activity>
        <activity android:name=".PDF_10_1"></activity>
        <activity android:name=".PDF_10_2"></activity>
        <activity android:name=".PDF_10_3"></activity>
        <activity android:name=".PDF_10_4"></activity>
        <activity android:name=".PDF_10_5"></activity>
        <activity android:name=".PDF_10_6"></activity>
        <activity android:name=".PDF_10_7"></activity>
        <activity android:name=".PDF_10_8"></activity>
        <activity android:name=".PDF_11_1"></activity>
        <activity android:name=".PDF_11_2"></activity>
        <activity android:name=".PDF_11_3"></activity>
        <activity android:name=".PDF_11_4"></activity>
        <activity android:name=".PDF_11_5"></activity>
        <activity android:name=".PDF_11_6"></activity>
        <activity android:name=".PDF_11_7"></activity>
        <activity android:name=".PDF_11_8"></activity>
        <activity android:name=".PDF_12_1"></activity>
        <activity android:name=".PDF_12_2"></activity>
        <activity android:name=".PDF_12_3"></activity>
        <activity android:name=".PDF_12_4"></activity>
        <activity android:name=".PDF_12_5"></activity>
        <activity android:name=".PDF_12_6"></activity>
        <activity android:name=".PDF_12_7"></activity>
        <activity android:name=".PDF_12_8"></activity>
        <activity android:name=".PDF_13_1"></activity>
        <activity android:name=".PDF_13_2"></activity>
        <activity android:name=".PDF_13_3"></activity>
        <activity android:name=".PDF_13_4"></activity>
        <activity android:name=".PDF_13_5"></activity>
        <activity android:name=".PDF_13_6"></activity>
        <activity android:name=".PDF_13_7"></activity>
        <activity android:name=".PDF_13_8"></activity>
        <activity android:name=".PDF_14_1"></activity>
        <activity android:name=".PDF_14_2"></activity>
        <activity android:name=".PDF_14_3"></activity>
        <activity android:name=".PDF_14_4"></activity>
        <activity android:name=".PDF_14_5"></activity>
        <activity android:name=".PDF_14_6"></activity>
        <activity android:name=".PDF_14_7"></activity>
        <activity android:name=".PDF_14_8"></activity>
        <activity android:name=".Activity_Dev"></activity>
    </application>

</manifest>