<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.something.kumaranurag.ggsipusyllabus">
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IPU Syllabus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".PDF_1"></activity>
        <activity android:name=".PDF_2"></activity>
        <activity android:name=".PDF_3"></activity>
        <activity android:name=".PDF_4"></activity>
        <activity android:name=".PDF_5"></activity>
        <activity android:name=".PDF_6"></activity>
        <activity android:name=".PDF_7"></activity>
        <activity android:name=".PDF_8"></activity>
        <activity android:name=".PDF_9"></activity>
        <activity android:name=".PDF_10"></activity>
        <activity android:name=".PDF_11"></activity>
        <activity android:name=".PDF_12"></activity>
        <activity android:name=".PDF_13"></activity>
        <activity android:name=".PDF_14"></activity>
        <activity android:name=".Activity_Dev"></activity>
    </application>

</manifest>